* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

form {
    width: 450px;
    margin: 30px auto;
    box-shadow: 0 0 10px 2px #ccc;
    padding: 15px;
    border-radius: 10px;
}

form label {
    display: block;
    margin-top: 20px;
    font-size: 16px;
}

form input {
    width: 97%;
    height: 30px;
    margin-top: 10px;
    padding-left: 10px;
}

form button {
    padding: 10px 25px;
    margin: 15px 0 0 0;
    cursor: pointer;
}

.main {
    width: 1320px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    margin-bottom: 20px;
}

.items {
    flex-basis: 20%;
    margin: 1%;
    box-shadow: 0 0 10px 2px #ccc;
    padding: 1.5%;
    border-radius: 10px;
    position: relative;
}

.items span {
    position: absolute;
    right: 0;
    padding-right: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
}

.items h5 {
    margin-top: 15px;
    padding-bottom: 5px;
}